.Searchcontainer {
    display: flex;
    /* flex-wrap: wrap; */
    /* flex-direction: column; */
    align-items: center;
    justify-content: center;
    /* width: 100vw; */
    border: 1px solid #ccc;
    border-radius: 20px;
    width: 40rem;
    padding: 5px;

}

.input {
    flex: 1;
    padding: 0.5rem;
    margin: 0.5rem;
    /* border: 1px solid #ccc; */
    border-radius: 4px;
    font-size: 1.2rem;
    outline: none;
}


.button {
    flex: 1;
    background-color: #4E1FC2;
    color: white;
    border: none;
   
}

.searchButton {
    padding: 10px 20px;
    font-size: 20px;
    background-color: #D7D7D7;
    color: white;
    border-radius: 50px;  
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .searchButton.active {
    background-color: #4E1FC2; /* Change to desired active color */
  }
  

.searchButton:hover {
    background-color: #E4CCFF;
}
